.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    height: 100vh;
    width: 100vw;
    background-image:  url('src/assets/images/agri_thermal_field.jpg');
    padding: 0px;
}

.overlay {
    backdrop-filter: blur(7px);
    background-color: rgba(65, 65, 65, 0.3);
    width: 100%;
    height: 100%;
}

.login-card {
    /*background-color: rgb(194, 203, 195);*/
    background-color: rgb(194, 203, 195);
    width: 35%;
    height: 80%;
    border-radius: 20px;
    flex-direction: column;
}

.green-border {
    border-style: solid;
    border-color: rgb(31, 181, 54);
    border-radius: 15px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


