.title-hr {
    height: 1px;
    background-color: rgb(255, 255, 255);
    border: none;
    margin: 20px 0;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    height: 15%;
}

.task:hover {
    background-color: #0b0f14;;   
}