.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: blue;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
}

.section-fields {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 30%;
    border-style: solid;
    border-color: red;
}

.section-shipments {
    display: flex;
    width: 100%;
    height: 30%;
    border-style: solid;
    border-color: red;
}

.sector-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.sector-stats {
    width: 100%;
    height: 100%;
    background-color: #12181F;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart-container {
    height: 80%;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}